body{
   padding:30px 2px;
   font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  position:relative;

}

h2{
    text-align:center;
   
    font-size:28px;
   
}
form{
   
    width:50%;
    padding:50px 20px;
    justify-content:center;
    height:auto;
}
label{
    margin:auto;
   
    font-size:16px;
    margin-left:30px;
    
}
input{
    border-radius:12px;
    width:80%;
    padding:8px 30px;
    
   
    border-bottom:1px solid #ddd;
    border-top:0;
    border-right:0;
    border-left:0;
}
.container{
    max-width:900px;
    margin:auto;
}
ul li{
    font-size:10px;
    
}
.login{
   
    background:#f4f4f4;
    margin:auto;
    margin-top:5%;
    display:flex;
    flex-direction:row;
    width:90%;
    border-radius:9px;
}
button{
    width:90%;
    margin:auto;
    background:  rgb(18, 94, 236);
    color:white;
    font-size:16px;
   
    border-radius:5px;
    padding-top:5px;
    text-align:center;
    padding-bottom:5px;
    margin-bottom:4%;
   
    margin-top:5%;
    border:1px solid  rgb(18, 94, 236);
}
.welcome_msg{

background-image: url('../images/Stereoscopic\ illustration\ animation.gif');
background-size:cover;
    width:50%;
    
    justify-content:center;
    height:auto;;
    padding:70px 20px;
    border-radius:9px;
}
.error{
    margin:auto;
    color:red;
    font-size:16px;
 
    margin-left:50%;
}
.errorlist li{
    color:red;
    list-style:none;
}
a{
    color:rgb(18, 94, 236);
    text-decoration:none;
}
.lecturer_form{
    max-width:400px;
    margin-left:30%;
    padding:0;
    
    
   
}
.lecturer_form p{
    font-size:12px;
}

h3{
    color:#fff;
    text-align:center;
    font-size:20px;
    margin-top:20%;
}

.logo{
    position:absolute;
    background:white;
    width:70px;
    height:70px;
    border-radius:50%;
    background-image:url('../images/digitallib-high-resolution-logo-transparent.png');
    background-size:cover;
}
@media screen and (min-width:378px) and (max-width:500px){
    .login{
        display:grid;
        width:100%;
    }
    .container{
        width:100%;
        padding:0;
    }
    .welcome_msg{
        width:85%;
        margin:auto;;
        height:30%;
        overflow:hidden;
       margin-right:5px;
    }
 form{
    width:80%;
    margin:auto;
 }
    form h2{
        font-size:25px;
    }
    body{
        padding:1px 2px;
    }
 
    .logo{
        width:30px;
        height:30px;
        top:0;
        
    }
    .lecturer_form{
        margin-left:5%;
    }
    h2{
        font-size:20px;
        padding:0;
        margin:0;
 
 
}
.lecturer_form{
    width:95%;
}
.content h2{
    font-size:18px;
}

}
@media screen and(max-width:376px){
    form h2{
        font-size:20px;
        font-size:20px;
        padding:0;
        margin:0;
    }
   .lecturer_form input{
    padding:4px 10px;
    width:80%;
   }
   .logo{
    width:20px;
    height:20px;
   }
   .lecturer_form p{
    font-size:8px;
   }
   .lecturer_form{
    margin:0;
   }
  
 
    }
